<div class="container">

    <ol>
        <li>
            <p class="diplome">Deposito</p>
            <span class="point"></span>
            <p class="description">
                Descripcion
            </p>
        </li>
        <li>
            <p class="diplome">Enviando</p>
            <span class="point"></span>
            <p class="description">Descripcion</p>
        </li>
        <li>
            <p class="diplome">Sucursal</p>
            <span class="point"></span>
            <p class="description">Descripcion </p>
        </li>

    </ol>
</div>