<div class="container-fluid page__container">

    <div class="col-md-12">

        <!--MJE GLOBAL-->
        <div #alertaGlobal *ngIf="mostrarMjeGlobal" [ngClass]="claseMensaje" role="alert" autofocus>
            {{mensajeGlobal}}
        </div>

        <!--FORM-->
        <div class="card card-body">

            <h3 class="box-title m-b-0">Administracion de productos</h3>
            <p class="text-muted m-b-30 font-13"> Editar producto </p>

            <div class="row col-lg-8">
                <div class="col-sm-12 col-xs-12" *ngIf="productoModel">
                    <form #formProduct="ngForm">

                        <div class="form-group">
                            <label>Nombre</label>
                            <input #name="ngModel" name="name" [(ngModel)]="productoModel.nombre" type="text" class="form-control" placeholder="Ingresar nombre producto" required>
                        </div>

                        <div class="form-group">
                            <label>Categoria</label>
                            <input #categoria="ngModel" name="categoria" [(ngModel)]="productoModel.categoria" class="form-control" placeholder="Ingresar categoria de producto" required>
                        </div>

                        <div class="form-group">
                            <label>Descripcion</label>
                            <textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="productoModel.descripcion" name="textarea" class="form-control" cols="4" placeholder="Ingresar descripcion de producto" required></textarea>
                        </div>


                        <button (click)="editarProducto()" type="button" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                        <button [routerLink]="['/producto']" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>